:root {
  --col-positive: hsl(163, 72%, 41%);
  --col-negative: hsl(356, 69%, 56%);
  --col-facebook: hsl(208, 92%, 53%);
  --col-twitter: hsl(203, 89%, 53%);
  --col-instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --col-youtube: hsl(348, 97%, 39%);
  --font-size: 14px;
  --font-stack: "Inter", Helvetica, sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

.theme-dark {
  --bg: hsl(230, 17%, 14%);
  --bg-top: hsl(232, 19%, 15%);
  --bg-card: hsl(228, 28%, 20%);
  --bg-toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --text-low: hsl(228, 34%, 66%);
  --text-bright: hsl(0, 0%, 100%);
}

.theme-light {
  --bg: hsl(0, 0%, 100%);
  --bg-top: hsl(225, 100%, 98%);
  --bg-card: hsl(227, 47%, 96%);
  --bg-toggle: hsl(230, 22%, 74%);
  --text-low: hsl(228, 12%, 44%);
  --text-bright: hsl(230, 17%, 14%);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: var(--bg);
  font-family: var(--font-stack);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  color: var(--text-low);
}

h1 {
  margin: 10px 0 0 0;
  font-size: 1.7em;
  color: var(--text-bright);
}

h2 {
  font-size: 1.7em;
  margin: 50px 0 25px 0;
  color: var(--text-bright);
}

p {
  font-size: 1em;
}

#wrapper {
  max-width: 1110px;
  padding: 25px;
  margin: 0 auto;
}

header p {
  margin: 5px 0;
}

.theme-switcher {
  border-top: 1px solid var(--text-low);
  margin: 20px 0;
  padding: 10px 0;
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.theme-switcher__toggle {
  cursor: pointer;
  position: relative;
  margin-left: 10px;
}

.theme-switcher__toggle::before,
.theme-switcher__toggle::after {
  content: "";
  background: var(--bg-toggle);
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.theme-switcher__toggle::before {
  height: 1.8em;
  width: 3.6em;
  border-radius: 100px;
}

.theme-switcher__toggle::after {
  top: 49%;
  left: 5%;
  content: "";
  height: 1.45em;
  width: 1.45em;
  border-radius: 50%;
  position: absolute;
  background: var(--bg);
  transform: translate(0, -50%);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.4);
}

.theme-switcher [type=checkbox]:checked + .theme-switcher__toggle::after {
  transform: translate(calc(3.3em - 100%), -50%);
}

.theme-switcher [type=checkbox]:focus + .theme-switcher__toggle {
  border: var(--text-low) dotted 2px;
  border-radius: 50px;
  box-shadow: 0 0 8px var(--text-low);
}

.theme-switcher [type=checkbox] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.card-area {
  display: grid;
  grid-gap: 25px;
}

.card {
  background: var(--bg-card);
  color: var(--text-bright);
  border-radius: 4px;
  padding: 10px 25px 13px 25px;
  text-align: center;
  position: relative;
}

.channel-logo {
  height: 20px;
}

.variation {
  font-size: 0.85em;
  position: relative;
  display: inline;
}

.variation::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background: transparent;
  left: -12px;
  top: 6px;
}

.hero-num {
  margin: 20px 0 20px 0;
}

.hero-num p {
  font-size: 3.9em;
  margin: 0;
}

.variation.positive {
  color: var(--col-positive);
}

.variation.positive::before {
  background: url("../../assets/icon-up.svg") no-repeat;
}

.variation.negative {
  color: var(--col-negative);
}

.variation.negative::before {
  background: url("../../assets/icon-down.svg") no-repeat;
}

.overview-total .card {
  padding: 30px 20px 25px 20px;
}

.overview-total > .card::before {
  background: var(--text-low);
  height: 4px;
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px 4px 0 0;
}

.overview-total > .card.facebook::before {
  background: var(--col-facebook);
}

.overview-total > .card.twitter::before {
  background: var(--col-twitter);
}

.overview-total > .card.instagram::before {
  background: var(--col-instagram);
}

.overview-total > .card.youtube::before {
  background: var(--col-youtube);
}

.overview-total .source {
  display: flex;
  justify-content: center;
  align-content: center;
}

.overview-total .source p {
  margin: 3px 0 0 8px;
  color: var(--text-low);
  font-size: 0.85em;
}

.hero-num .type {
  text-transform: uppercase;
  display: block;
  font-weight: var(--font-weight-regular);
  letter-spacing: 5px;
  font-size: 0.23em;
  color: var(--text-low);
}

.card-area.overview-today {
  grid-gap: 17px;
}

.overview-today .source,
.overview-today .hero-num {
  display: flex;
  justify-content: space-between;
}

.overview-today .source {
  align-items: center;
}

.overview-today .hero-num {
  align-items: baseline;
  font-size: 0.6em;
  margin: 10px 0 5px 0;
}

.overview-today .variation {
  font-size: 1.4em;
}

.metric {
  color: var(--text-low);
}

/* RESPONSIVE CHANGES
 * */
@media screen and (min-width: 550px) {
  .card-area {
    grid-template-columns: 1fr 1fr;
  }

  .card-area.overview-today,
.card-area.overview-total {
    grid-gap: 0;
    grid-column-gap: 25px;
    grid-row-gap: 22px;
  }
}
@media screen and (min-width: 900px) {
  h1 {
    font-size: 2em;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  .theme-switcher {
    width: auto;
    border-top: none;
    padding: 0;
    margin: 0;
  }

  .card-area {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
