// Reference for theme switching implementation:
// https://fireship.io/lessons/theme-toggler/
// https://medium.com/@haxzie/dark-and-light-theme-switcher-using-css-variables-and-pure-javascript-zocada-dd0059d72fa2

// CSS VARIABLES
:root
  --col-positive: hsl(163, 72%, 41%)
  --col-negative: hsl(356, 69%, 56%)
  --col-facebook: hsl(208, 92%, 53%)
  --col-twitter: hsl(203, 89%, 53%)
  --col-instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%))
  --col-youtube: hsl(348, 97%, 39%)
  --font-size: 14px
  --font-stack: 'Inter', Helvetica, sans-serif
  --font-weight-regular: 400
  --font-weight-bold: 700

// THEMES
.theme-dark
  --bg: hsl(230, 17%, 14%)
  --bg-top: hsl(232, 19%, 15%)
  --bg-card: hsl(228, 28%, 20%)
  --bg-toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%))
  --text-low: hsl(228, 34%, 66%)
  --text-bright: hsl(0, 0%, 100%)
.theme-light
  --bg: hsl(0, 0%, 100%)
  --bg-top: hsl(225, 100%, 98%)
  --bg-card: hsl(227, 47%, 96%)
  --bg-toggle: hsl(230, 22%, 74%)
  --text-low: hsl(228, 12%, 44%)
  --text-bright: hsl(230, 17%, 14%)

html, body
  margin: 0
  padding: 0
  height: 100%
  width: 100%
body
  background: var(--bg)
  font-family: var(--font-stack)
  font-size: var(--font-size)
  color: var(--text-low)

h1
  margin: 10px 0 0 0
  font-size: 1.7em
  color: var(--text-bright)
p
  font-size: 1em

#wrapper
  max-width: 1110px
  padding: 25px
  margin: 0 auto

header p
  font-weight: var(--font-weight-bold)
  margin: 5px 0

.theme-switcher
  border-top: 1px solid var(--text-low)
  margin: 20px 0
  padding: 10px 0
  display: flex
  align-items: center
  width: 100%
  justify-content: space-between

.card
  background: var(--bg-card)
  color: var(--text-bright)


@media screen and (min-width: 900px)
  h1
    font-size: 2em
  header
    display: flex
    justify-content: space-between
    margin-bottom: 35px
  .theme-switcher
    width: auto
    border-top: none
    padding: 0
    margin: 0
