// Reference for theme switcher:
// https://medium.com/@haxzie/dark-and-light-theme-switcher-using-css-variables-and-pure-javascript-zocada-dd0059d72fa2
// https://fireship.io/lessons/theme-toggler/

// CSS VARIABLES
:root
  --col-positive: hsl(163, 72%, 41%)
  --col-negative: hsl(356, 69%, 56%)
  --col-facebook: hsl(208, 92%, 53%)
  --col-twitter: hsl(203, 89%, 53%)
  --col-instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%))
  --col-youtube: hsl(348, 97%, 39%)
  --font-size: 14px
  --font-stack: 'Inter', Helvetica, sans-serif
  --font-weight-regular: 400
  --font-weight-bold: 700

// THEMES
.theme-dark
  --bg: hsl(230, 17%, 14%)
  --bg-top: hsl(232, 19%, 15%)
  --bg-card: hsl(228, 28%, 20%)
  --bg-toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%))
  --text-low: hsl(228, 34%, 66%)
  --text-bright: hsl(0, 0%, 100%)
.theme-light
  --bg: hsl(0, 0%, 100%)
  --bg-top: hsl(225, 100%, 98%)
  --bg-card: hsl(227, 47%, 96%)
  --bg-toggle: hsl(230, 22%, 74%)
  --text-low: hsl(228, 12%, 44%)
  --text-bright: hsl(230, 17%, 14%)

html, body
  margin: 0
  padding: 0
  height: 100%
  width: 100%

body
  background: var(--bg)

.card
  background: var(--bg-card)
  color: var(--text-bright)
